@media (max-width: 426px) {
    /*Mobile media query*/
    h2 {
        font-size: 18px;
    }
    h4 {
        font-size: 16px;
    }
    .black-background {
        padding: 10px;
    }
}

footer > p {
    color: white !important;
}